*{
    box-sizing: border-box;
}

body{
    
    font-family: "Poppins", sans-serif;
    margin: 0;
    text-align: center;
}

.gridCon{
    display: grid;
    /* grid-gap: 20px; */
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px 150px;
    justify-content: center;
    align-content: center;
    /* width: 100vw;
    height: 100vh; */
}

.gridItem:hover{
    /* background-color: beige; */
    cursor: pointer;
}

.gridItem{
    color: grey;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.rightBorder{
    border-right: 10px solid lightgray;
}

.bottomBorder{
    border-bottom: 10px solid lightgray;
}

.enter:hover{
    transform: scale(0.95);
    background-color: lightgray;
    /* border: 5px; */
    border-radius: 2.5px;
    /* transition: all 0.3 ease; */
    
}

.hidden{
    display: none;
}

.visible{
    display: block;
}

.x:hover::after{
    content: "x";
    opacity: 0.5;
}

.o:hover::after{
    content: "o";
    opacity: 0.5;
}

.play{
    margin: 20px;
    padding: 5px;
    border-radius: 5px;
    background-color: lightgray;
    color: black;
    text-align: center;
}

.play:hover{
    transform: scale(0.95);
    background-color: lightgray;
    /* border: 5px; */
    border-radius: 2.5px;
    /* transition: all 0.3 ease; */  
}

.restart:hover{
    transform: scale(0.95);
    background-color: lightgray;
    /* border: 5px; */
    border-radius: 2.5px;
    /* transition: all 0.3 ease; */ 
    border-radius: 5px;
    color: white   
}

.restart{
    margin: 20px;
    padding: 5px;
    border-radius: 5px;
    background-color: lightgray;
    color: black;
    text-align: center;
}

#enter1, #enter2{
    margin: 2.5px;
    padding: 2.5px;
    border-radius: 5px;
    background-color: lightgray;
    color: black;
    text-align: center;
}

#enter1:hover, #enter2:hover{
    transform: scale(0.95);
    background-color: lightgray;
    /* border: 5px; */
    border-radius: 2.5px;
    /* transition: all 0.3 ease; */ 
    border-radius: 5px;
    color: white
    
}